<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138302775058-ahtqfnpk5picppu08m9f18m2rqav8mr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138302775058-ahtqfnpk5picppu08m9f18m2rqav8mr1</string>
	<key>API_KEY</key>
	<string>AIzaSyB9nFlEQBxUC0q8EqgcedJbD76GkP-iOg4</string>
	<key>GCM_SENDER_ID</key>
	<string>138302775058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AnalyticsLayer</string>
	<key>PROJECT_ID</key>
	<string>analyticslayer</string>
	<key>STORAGE_BUCKET</key>
	<string>analyticslayer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:138302775058:ios:f0405cf18f72fc20cb9dcb</string>
</dict>
</plist>
